# Email SMTP Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password

# Notification Target Email (Your inbox where you want to receive enquiry emails)
RECEIVER_EMAIL=your-email@gmail.com
