# Server Configuration
PORT=5000
NODE_ENV=development

# Email SMTP Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=rs8592474@gmail.com
EMAIL_PASS=gwhzgvixvkpdvpui

# Notification Target Email (Your inbox where you want to receive test emails)
RECEIVER_EMAIL=rs8592474@gmail.com